body {
    margin: 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

.services {
    height: 50px;
    margin-right: 5px;
}

.services ul {
    float: right;
    margin-top: 5px;
}

.services ul li{
    float: left;
    padding: 5px;
    list-style: none;
    font-family: arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-decoration: none;
    margin: 5px;
}

.services ul li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87); 
}

.services ul li:hover {
    text-decoration: underline !important;
}

#waffle{
    width:20px;
}

#sign-in {
    text-align: center;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: blue;
    color:white;
    font-weight: 700;
}

.main {
    padding-top: 8%;
    text-align: center;
}

#logo {
    width: 350px;
    display: inline-block; 
}

#search-bar {
    border: 1px solid gray;
    margin-left: 35%;
    margin-right: 35%;  
    width: 30%;
    border-radius: 100px;

}

#search-bar form input{
    border: none;
    width: 92%;
    height: 100%;
    margin-left: 0;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#search-bar form input:focus{
    outline: none;
}

#search-bar:focus-within {
    box-shadow: 2px 2px 10px #d8d8d8;
}

.search-buttons {
    text-align: center;
}

.search-page{
    list-style: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;
    margin-right:10px;
    background-color: #f2f2f2;
    color: #5F6368;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,.54);
    margin-bottom: -15px;
}

#country {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding-left: 20px;
    font-size: 15px;
    
}

#left, #right{
    list-style: none;
    margin-top: 0px;
}

#left, #left li {
    float: left;
    padding: 10px;
}

#right, #right li {
    float: right;
    padding: 10px;
}

#icons {
    width:10px;
}

#results-logo {
    height: 100%;
    width: 10%;
    display:inline-block;
    float:left;
    margin-top: 1%;
}

#top {
    display: block;
    height: 10%;
    border-bottom: 1px solid rgba(78, 78, 78, 0.11);
}

#contents {
    float: left;
    width: 90%;
}

#contents ul {
    display: inline;
    padding:0px;
}

#contents ul li{
    display: inline;
    margin: 7px;
}

#contents ul li:hover {
    color:blue;
}

#settings {
    margin-left: 50px;
}

#contents form {
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 100px;
    width:50%;
    padding: 5px;
    margin: 10px 0px;
}

#contents form input {
    border: none;
    width:90%;
    margin-left: 20px;
    font-size: 20px;
}

#contents form input:focus {
    outline:none;
}

.results {
    margin-left: 10%;
}

#item {
    margin-bottom: 3%;
}

#item h1 {
    font-size: 30px;
    color: #0e085e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin:0;
}

#item a {
    margin:0.5%;
}

#item p {
    margin:0;
}